<div class="ekart--header">
    <div class="ekart-logo">
        eKart
    </div>
    <div class="ekart--header--nav">
        <app-top-menu></app-top-menu>
        <div class="ekart-bottom-bar">
            <app-main-menu></app-main-menu>
            <div class="ekart--search-bar">
                <!-- <input type="text" class="ekart-search-box form-control" placeholder="Search.."> -->
                <!-- <button class="ekart--search-btn">
                    <i class="fa fa fa-search" aria-hidden="true">🔍</i>
                </button> -->
            </div>
        </div>
    </div>
</div>