<app-filter [all]="totalProductsCount" [inStock]="totalProductInStock" [outOfStock]="totalProductOutOfStock"
(selectedFilterRadioButtonChanged)="onFilterChanged($event)"
></app-filter>
<div class="ekart--products--container">
  <!-- <div *ngFor="let prod of products" (click)="selectedProduct=prod"> -->

      <!-- <app-product  [product]="prod" *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString()=== selectedFilterRadioButton" ></app-product> -->
      <!-- <app-product  [product]="prod" *ngIf="searchText ===''||prod.name.toLocaleLowerCase().includes(searchText)"></app-product>
  </div> -->
  <ng-container *ngFor="let prod of products" >

    <!-- <app-product  [product]="prod" *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString()=== selectedFilterRadioButton" ></app-product> -->
    <app-product  [product]="prod"
     *ngIf="searchText ===''||prod.name.toLocaleLowerCase().includes(searchText)"
     (click)="selectedProduct=prod"
     ></app-product>
</ng-container>
</div>
